---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
		<link href="/style1.css/" rel="stylesheet">
	</head>
	<body>
		<h1>Hello Astro this is Dhanunjay</h1>
        <h1>this is the blog i want to create and deploy it</h1>
	</body>
</html>
